[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
apache-airflow = {extras = ["crypto", "aws"],version = "*"}
cryptography = "*"

[requires]
python_version = "3.7"

[scripts]
start-server = "airflow webserver -p ${PORT}"
start-scheduler = "airflow scheduler"
